@page
@model proyectoV.Pages.LISTAPRODUCTOSModel
@{

}
@Model proyectoV.Pages.Productos

<div>

    <p></p>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>CATEGORIA</th>
                <th>MARCA</th>
                <th>MODELO</th>
                <th>PRECIO</th>

            </tr>
        </thead>

        <tbody>


            <tr>
                <td>product.id</td>
                <td>product.nombre</td>
                <td>product.categoria</td>
                <td>product.marca</td>
                <td>product.modelo</td>
                <td>product.precio</td>




            </tr>


            }
        </tbody>


    </table>







</div>
